# Overrides for single-node: 1 Elasticsearch node, 30Gi storage.
# Use with: -f values.yaml -f values-single-node.yaml

eck-stack:
  eck-elasticsearch:
    nodeSets:
      - name: default
        count: 1
        config:
          node.store.allow_mmap: false
        volumeClaimTemplates:
          - metadata:
              name: elasticsearch-data
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 5Gi
